button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.signout-btn {
  display: flex;
  margin-top: 20px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
}

.signout-btn:hover {
  background-color: #ff3333;
}

.signout-btn:active {
  background-color: #e60000;
}
